@import "seattletimes";

@sanders: #58b7b4;
@warren: #c45555;
@buttigieg: #d3b537;
@biden: #4995c4;
@klobuchar: #8766aa;
@bloomberg: #cc5c3e;

.interactive {
	max-width: 680px;
}

h1 {
	margin: 0;
	text-align: center;
}

.note {
	color: #666;
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
}

.note--timestamp {
	margin-bottom: 15px;
	text-align: center;
}

.flexbox {
	display: flex;
}

#map {
	width: 60%;
}

.county {
	fill: @df-light-gray;
}

#tooltip {
	background-color: #fff;
	border: 1px solid @df-light-gray;
	border-radius: 5px;
	font-size: 15px;
	line-height: 15px;
	padding: 3px 5px;
	position: absolute;
	&.hidden {
		display: none;
	}
	&.shown {
		display: block;
	}
}

.county {
	cursor: pointer;
	&:hover {
		fill-opacity: 70%;
		stroke-width: 4px;
		stroke: @df-dark-gray;
	}
}

#results {
	padding-left: 15px;
}

#statewide-button {
	color: @df-middle-gray;
	cursor: pointer;
	font-size: 16px;
	margin: 0 0 10px 0;
	text-decoration: underline;
	&:hover {
		color: @df-blue;
	}
	&.hidden {
		display: none;
	}
	&.shown {
		display: block;
	}
}

h2 {
	font-size: 20px;
	margin: 0;
}

#candidates {
	list-style-type: none;
	margin-top: 15px;
	padding-left: 0;
}

.color-block {
	border-radius: 12px;
	display: inline-block;
	height: 12px;
	margin-right: 6px;
	width: 12px;
	&.Sanders {
		background-color: @sanders;
	}
	&.Warren {
		background-color: @warren;
	}
	&.Buttigieg {
		background-color: @buttigieg;
	}
	&.Biden {
		background-color: @biden;
	}
	&.Klobuchar {
		background-color: @klobuchar;
	}
	&.Bloomberg {
		background-color: @bloomberg;
	}
}

.caption::after {
	clear: both;
	content: "";
	display: block;
}

.data-source, .art-credit {
	margin: 10px 0 0 0;
}